@import './modules/reset';
@import './modules/vars';
@import './modules/chatmessage';

//write some defaults here 

body{
    font-size: 16px;
    background-color: rgb(130, 123, 131);
    color: rgb(248, 246, 246);

    font-family: Arial, Helvetica, sans-serif;
}

main { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

main section { padding: 1em; }

#main-headline { text-align: center; margin-bottom: 0.8em; }

label { display: block; padding-bottom: 0.5em;}

textarea { width: 90%; height: 200px; }

input[type="submit"] { 
    display: block; 
    margin-top: 1em; 
    padding: 8px 12px; 
    border-radius: 0.5em; 
}

#nickname {
    padding:  0.5em 1em;
    border-radius: 0.25em;
    margin: 0.5em 0 1em 0;
}

.chat-messages {
    width: 45%;
    border-radius: 1em;
    padding: 0.5em 1em;
    background-color: rgb(148, 98, 160);
    margin-bottom: 0.8em;
    float: left;
    clear: both;
}

.other-messages {
    width: 45%;
    border-radius: 1em;
    padding: 0.5em 1em;
    background-color: rgba(200, 85, 143, 0.8);
    margin-bottom: 0.8em;
    float: right;
    clear: both;
}