<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/css/main.css'/>

    <title>Home page</title>
</head>
<body>
    <img src="/images/logo.png" width="150" height="150">
    <main id="app" class="chatbox-container">
        <login v-if="!userLogin" @login="userLogin = true"></login>
        <section class="chatbox" v-if="userLogin">
        <section class="messages">
            <ul id="messages">
                <!--render a new message component for every message-->
                <newmsg v-for="message in messages" :message="message"></newmsg>
            </ul>   
        </section>
        <section>
           <!-- <usertyping v-for="A user is typing" :userTypingMsg="userTypingMsg"></usertyping>-->
           <!--<label for="message" id="title">Let us know your name & someone will be with you shortly!</label>-->
            <input id="nickname" v-model="nickname" type="text" placeholder="Name">
        <form>
            <textarea @focus="catchTextFocus" v-model="message" id="textarea" class="message" autocomplete="off" placeholder="Message" type="textarea"></textarea>
            <input @click.prevent="dispatchMessage" type="submit" value="Send">
        </form>
        </section>
    </section>
    </main>
    

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js" type="module" defer></script>
</body>
</html>